.App {
  color: var(--text-a);
  min-height: 100%;
  overflow: hidden;
}

.container {
  margin-top: 1em;
  background-color: var(--sec-bg-color);
  border: 1px solid var(--border-a);
  border-radius: 0.1em;
}

.container.end {
  margin-bottom: 10em;
}