.CornerLink {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 4em;
  height: 4em;
  background-color: white;
  background-image: url('../images/bars.svg');
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center center;
  border: thin solid #BBB;
  border-radius: 0 0 0 1em;
  cursor: pointer;
}