.VisitorForm {
  padding: 1em 10%;
  display: flex;
  flex-direction: column;
}

form {
  width: 100%;
}

.VisitorForm p {
  text-align: center;
}

.VisitorForm .error {
  color: red;
}

.VisitorForm .success {
  color: green;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  padding-bottom: 0.5em;
  display: block;
  width: 100%;
  margin: 0.25em;
  font-size: 2em;
}

p.followon {
  margin-block-end: 0;
}

p.followon a {
  font-size: 150%;
  font-weight: 500;
  font-style: italic;
  color: var(--ter-bg);
  text-decoration: overline underline;
}

.followOnImg img {
  display: block;
  margin: 0 auto;
}